In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [4]:
average_age_men = round(df.loc[df['sex']=='Male', 'age'].mean(),1)
average_age_men

39.4

In [5]:
percentage_bachelors = round((len(df[df['education']=='Bachelors'])/len(df))*100,1)
percentage_bachelors

16.4

In [6]:
higher_education = len(df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])])
higher_education

7491

In [7]:
lower_education = len(df[~(df['education'].isin(['Bachelors', 'Masters', 'Doctorate']))])
lower_education

25070

In [8]:
higher_education_rich = round((len(df[(df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) 
                                      & (df['salary']=='>50K')])/higher_education)*100,1)
higher_education_rich

46.5

In [9]:
lower_education_rich = round((len(df[(~(df['education'].isin(['Bachelors', 'Masters', 'Doctorate']))) 
                                     & (df['salary']=='>50K')])/lower_education)*100,1)
lower_education_rich

17.4

In [10]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [11]:
num_min_workers = len(df[df['hours-per-week'] == df['hours-per-week'].min()])
num_min_workers

20

In [12]:
rich_percentage = (len(df[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary']=='>50K')])/num_min_workers)*100
rich_percentage

10.0

In [13]:
highest_earning_country = ((df.loc[df['salary']=='>50K', 'native-country'].value_counts())/
                           (df['native-country'].value_counts())).idxmax()
highest_earning_country

'Iran'

In [14]:
highest_earning_country_percentage = round((((df.loc[df['salary']=='>50K', 'native-country'].value_counts())
                                             /(df['native-country'].value_counts())).max())*100,1)
highest_earning_country_percentage

41.9

In [15]:
top_IN_occupation = df.loc[(df['native-country']=='India') & (df['salary']=='>50K'), 'occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'

In [16]:
print("Number of each race:\n", race_count) 
print("Average age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty